<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a match!, <%= @user.name %></h1>
    <p>
      You have a match with <%= @matchee.name %><br/>
    </p>
    <p>Get in contact with them now :-) - <%= @matchee.email %></p>
  </body>
</html>