* {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica, arial, sans-serif;
	width: 56em;
	margin: 0 auto;
}

#header > h1 > a {
	text-decoration: none;
	font-size: 2em;
	color: #0071bc;
}

#header > h1 > a > span {
	font-weight: 100;
	color: #39b54a;
}

#header > form, #header > ul {
	float: right;
	font-size: 2em;
	margin-top: 1em;
}

#header > ul > li {
	float: left;
	list-style: none;
}

#header > form > input[type="text"], #header > form > input[type="password"] {
	font-size: .7em;
	width: 8em;
	float: left;
	margin-right: 1em;
	color: #aaa;
}

#header > form > input[type="text"]:focus, #header > form > input[type="password"]:focus {
	color: #444;
}

#header > form > input[type="submit"] {
	font-size: .7em;
	float: left;
}

#header > form > input[type="submit"], #header > ul > li > a {
	display: block;
	width: 4em;
	text-decoration: none;
	text-align: center;
	color: #000;
}

#header > ul > li > a:hover {
	color: #777;
}

#home {
	counter-reset: step;
}

#home > li:before {
	position: relative;
	left: 0;
	top: 0;
	font-size: 3em;
	color: #888;
	counter-increment: step;
	content: counter(step) ' ';
	font-weight: bold;
}

#home > li {
	padding: 1em;
	display: block;
	width: 234px;
	float: left;
	border-right: 1px solid #aaa;
	line-height: 200%;
	height: 150px;
}

#home > li:last-child {
	border-right: none;
}

#content {
	background: #e6e6e6;
	border-radius: .6em;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	padding: 1em;
	font-size: 1.5em;
}

#content > h1 {
	font-size: 1.5em;
	margin-bottom: .5em;
	text-align: center;
}

#content li.user {
	height: 128px;
	padding: 1em;
	list-style: none;
}

#content li.user:hover {
	background: #eee;
}

#content li.user > img {
	float: left;
	margin-right: 1em;
}

#content li.user > a {
	text-decoration: none;
	color: #000;
	font-size: 1.5em;
}

#content li.user > a:hover:after {
	content: ' ▸ view profile';
	color: #777;
	font-size: 1em;
}

#footer {
	margin-top: 1em;
	color: #999;
	text-align: center;
}

#footer > a {
	text-decoration: none;
	color: #777;
	margin: 0 .4em;
}

#footer > a:hover {
	color: #333;
}

