<%= form_for current_user.relationships.find_by_cheqed_id(@user),
             :html => { :method => :delete },
             :remote => true do |f| %>
  <div class="actions"><%= f.submit "uncheq" %></div>
<% end %>