<table summary="Information about cheqs">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>

      <% unless @users.empty? %>
       <u1 class="users">
	      <%= render @users %>
	     </u1>
	     <%= will_paginate @users %>
      <% end %>
    </td>
</table>