<% if signed_in? %>
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
<% else %>
	<p>Cheqit helps you find people you're interested in that are also interested in you.<br /><br /></p>
	<p><center><%= link_to "Create your account now!", signup_path %></center></p>
<% end %>
