<% if signed_in? %>
	<%= render 'shared/user_info' %>
	<!--<%= render 'shared/stats' %>-->
<% else %>
	<h1 class='banner'>date people you know - rejection free!</h1>
	<ol id='home'>
		<li><%= link_to "sign up", signup_path %></li>
		<li>cheq friends you're interested in</li>
		<li>we'll email you when someone cheqs you back!</li>
	</ol>
<% end %>
